@model Wedding

<h1>Plan your wedding:</h1>

<form class="col-5 my-auto" asp-action="CreateWedding" asp-controller="Wedding" method="post">
    <div>
        <input type="hidden" asp-for="UserId" value="@ViewBag.User.UserId">

        <span asp-validation-for="WedderOne" class="validation"></span><br>
        <label asp-for="WedderOne"></label>
        <input class="form-control" asp-for="WedderOne">

        <span asp-validation-for="WedderTwo" class="validation"></span><br>
        <label asp-for="WedderTwo"></label>
        <input class="form-control" asp-for="WedderTwo">

        <span asp-validation-for="Date" class="validation"></span><br>
        <label asp-for="Date"></label>
        <input class="form-control" type="Date" asp-for="Date">

        <span asp-validation-for="Address" class="validation"></span><br>
        <label asp-for="Address"></label>
        <input class="form-control" asp-for="Address">
    </div>

    <div>
        <input class="btn btn-primary" type="submit" value="Submit">
    </div>
</form>