@model Chef

<div>
    <h1>Add a new chef!</h1><br>
    <a class="btn btn-primary" asp-action="Index" role="button">Home</a><br>
</div>

<form asp-action="MakeChef" asp-controller="Home" method="post">
    <div class="form-group">
        <span class="validation" asp-validation-for="FirstName"></span><br>
        <label asp-for="FirstName">First Name: </label>
        <input asp-for="FirstName" type="text"><br>
    
        <span class="validation" asp-validation-for="LastName"></span><br>
        <label asp-for="LastName">Last Name: </label>
        <input asp-for="LastName" type="text"><br>

        <span class="validation" asp-validation-for="Birthday"></span><br>
        <label asp-for="Birthday">Birthday: </label>
        <input asp-for="Birthday"><br>

        <input type="submit">
    </form>

